
body {
    background: silver;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 358px;
    height: 196px;

    background: #CCCCCC;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;

    font-family: Roboto Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

#elm2:hover {
    background:#9C9C9C;
}

#elm4:active {
    color:cyan; 
}

#elm5:focus {
    color:darkorchid;
}
